<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin
<link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap" rel="stylesheet">

	.title{
		background-color: FED881;
		padding-top: 50px;
		padding-bottom: 50px;
		}

	#page{
		background-color: F9F5EB;
		font-family: "Roboto Slab"
		}